@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');

body {
  background-color: black;
  color: #FFFFFF;
  font-family: 'Rock Salt', cursive;
  letter-spacing: 5px;
  
}

h1 {
  display: flex;
  justify-content: center;
  color: #FFD90F;
  margin: 50px;
}

#quote-box {
  margin: auto;
  background-color: #1098F7;
  width: 50%;
  border: 2px #FFD90F solid;
  border-radius: 5px; 
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

button {
  color: #FFFFFF;
  background: none;
  border: 2px #FFD90F solid;
  border-radius: 5px; 
  margin-bottom: 10px;
  width: 125px;
  font-family: 'Rock Salt', cursive;
}

#tweet-quote {
  text-decoration: none;
  color: #FFFFFF;
  border: 2px #FFD90F solid;
  border-radius: 5px; 
  display: flex;
  justify-content: center;
  width: 125px;
}